<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello html</h1>
   <% for( let index = 0; index < messages.length; index++ ) { %>
     <%= messages[index].text %>  <%= messages[index].user %>  <%= messages[index].added %> <br>
   <% } %>

    <form action="/new" method="post">
      <input type="text" placeholder="text" required name="textejs">
      <input type="text" placeholder="name" required name="nameejs">
      <input type= "submit">

    </form>

</body>
</html>